/*
            border-style: solid; – Controls the style of the line
            border-color: red; – Color of the border line
            border-width: 4px; – Width of the Border Line
            border-top-style: dashed; – Apply the style only to top line
            border-bottom-style: dotted; – Apply the style only to bottom line
        */
*{
    border-style: solid;
    border-color: red;
}



div{
    border-style: solid;
    border-color: red;
    border-width: 4px;
    border-top-style: dashed;
    border-bottom-style: dotted;
}


.blue-border{
    border: 5px solid blue;
}
.green-border{
    border: 5px solid green;
}

