/*
float property to specify the element to float left or right or
follow the existing flow of box arrangement.

    float: none|left|right|initial|inherit;

    none – This will follow the default floating of box and it also
                breaks the existing floating property set by it siblings or parent.
    left and right – allows to element to float left or right
    initial – Custom value can be given to float the element
    inherit – Follows the inheritance property from its parent style.
    clear: both – property will clear the floating of boxes next to each other.
 */


.box{
    height: 130px;
    width: 130px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.blue{
    background-color: blue;
    float: left;
}
.green{
    background-color: green;
    float: right;
}