.container{
    background: rgba(0, 0, 0, 4);
    height: 250px;
    width: 250px;
    margin-left: 300px;
    margin-top: 150px;
    color: white;
}
.box{
    height: 150px;
    width: 150px;
    background-color: aqua;
    top: 50px;
    left: 50px;
    position: relative;
}