body,html{
    height: 100%;
}
p{
    margin: 0 auto;
    max-width: 600px;
    margin-top: 40px;
    line-height: 1.5;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h1{
    text-align: center;
}
.annoucement-top{
    background-color: red;
    color: white;
    padding: 20px;
    text-align: center;
    opacity: .85;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
}
.annoucement-bottom{
    background-color: red;
    color: white;
    padding: 20px;
    text-align: center;
    opacity: .85;
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
}