body{
    background-color: aliceblue;
}

/* Header */
.header h1{
    font-size: 40px;
    text-align: center;
    border: 10px solid red;
    padding: 10px;
    margin: 5px;
}
.header h1{
    font-size: 40px;
    text-align: center;
    border: 10px solid red;
    padding: 10px;
    margin: 5px;
}
/* content */
.content h3{
    text-decoration : underline;
    text-align : center ;
    font-size : 40px;
    font-family: 'Permanent Marker', cursive;
}
.content{
    border : solid 5px green ;
    padding : 5px 10px 5px;
    margin : 5px;
}
.content p{
    font-size : 25px;
    padding-right: 0;
    font-family: 'Permanent Marker', cursive;
}
/* footer */
.footer{
    border : solid 5px blue ;
    padding : 5px 10px 5px;
    margin : 5px;
    text-align : center ;
    font-size : 25px;
}


