/*
                display property controls the behavior of the displaying the elements on the page.
                display: none; will hide that element on the page.
                display: block will show the block
                display: inline will show the block inline.
            */

ul{
    list-style-type: none;
    background-color: black;
    overflow: hidden;
    
}
li a {
    display: inline-block;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 20px;
}
li{
    float: left;
}
